@import url(normalize.css);

/* -----------------------------------------------------------
 * Transitions
 */

:root {
    --section-transition-time: 1.2s;
    --nav-transition-time: 0.2s;
    --nav-marker-transition-time: calc(var(--section-transition-time) - var(--nav-transition-time));
    --fade-transition-time: 0.2s;
    --rotate-transition-time: 0.6s;
    --slow-fade-transition-time: 1.1s;
}

/* -----------------------------------------------------------
 * Buttons
 */

button {
    cursor: pointer;
}

/* -----------------------------------------------------------
 * Typology
 */

p,
h1,
h2,
h3,
a,
button,
div {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.2;
    color: #fff;
}

.section p {
    font-size: 25px;
    line-height: 1.4;
}

h1,
h2,
h3 {
    font-weight: 400;
    line-height: 1.2;
}

h1 {
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: #eee;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

@media only screen and (min-width: 960px) {

    .section p {
        font-size: 32px;
    }

    h1 {
        font-size: 23px;
        letter-spacing: 6.2px;
    }

    h2 {
        font-size: 67px;
    }

    h3 {
        font-size: 40px;
    }

}

/* -----------------------------------------------------------
 * Layout
 */

/* TODO: Is grid layout redundant, since my site header is display: fixed? */

.landing-page {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "main";
}

.site-main {
    grid-area: main;
    z-index: 1;
}

/* Note:
   .site-header occupies same grid area as .site-main.
   This is intentional. */
.site-header {
    grid-area: main;
    z-index: 2;
    width: 100%;
}

@media only screen and (min-width: 960px) {

    .landing-page {
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-template-areas:
        "side main";
    }

    .site-header {
        grid-area: side;
        width: 30%;
    }

}

/* Card sections */
.section {
    height: 600px; /* Fallback */
    height: 97vh;
}

/* -----------------------------------------------------------
 * Navigation Menu
 */

.site-header {
    position: fixed;
}

.nav-toggle {
    background: #fff;
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin: 27px 0 0 19px;
}

.nav-toggle:hover {
    background: #aaa;
}

@media only screen and (min-width: 960px) {

    .nav-toggle--highlight {
        box-shadow: 0 0 13px rgb(255 255 255 / 60%);
        animation: nav-toggle--glow 3s ease-in-out infinite alternate;
    }

    @keyframes nav-toggle--glow {
        from {
            box-shadow: 0 0 8px rgb(255 255 255 / 0%);
        }

        to {
            box-shadow: 0 0 15px rgb(255 255 255 / 70%);
        }
    }

}

.nav-toggle__icon {
    color: #000;
    vertical-align: middle;
    font-size: 28px;
}

.primary-nav {
    position: relative;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style: none;
    border-left: dotted 3px #fff;
    margin: 9px 0 0 37px;
    padding: 0 0 0 6px;

    /* Allow scrolling on overflow. */
    overflow-y: scroll;
    max-height: 60vh;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.nav-menu::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.nav-menu.fade {
    transition: opacity var(--fade-transition-time) ease-in-out;
}

.nav-menu.fade--slow {
    transition-duration: var(--slow-fade-transition-time);
}

.nav-menu:not(.open) {
    opacity: 0;
}

.hidden.nav-menu {
    visibility: hidden;
}

.nav-menu__item {
    max-width: 350px;
}

.nav-link {
    display: block;
    text-decoration: none;
    border: none;
    background: none;
    padding: 15px 5px;
    transition:
        padding var(--nav-transition-time) ease-in-out,
        font-size var(--nav-transition-time) ease-in-out;
}

.nav-link:hover {
    color: #aaa;
}

.focus .nav-link {
    font-size: 31px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-marker {
    position: absolute;
    background: #fff;
    width: 7px;
    height: 40px;
    border-radius: 3px 0 0 3px;
    left: 33px;
    top: 29px;
    transition: top var(--nav-marker-transition-time) ease-in-out;
}

@media only screen and (max-width: 960px) {

    /* Hide site content while navigation is displayed on mobile. */
    .content {
        opacity: 0;
    }

    .content.fade {
        transition: opacity var(--fade-transition-time) ease-in-out;
    }

    .content.open {
        opacity: 1;
    }

    .hidden.content {
        visibility: hidden;
    }

    /* Disable scrolling while navigation menu open on mobile. */
    body.disable-scroll {
        overflow: hidden;
    }

    /* Speed up nav marker transition on mobile. */
    .nav-marker {
        transition-duration: var(--nav-transition-time);
    }

}

/* -----------------------------------------------------------
 * Sections & Cards
 */

.section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 40px; /* Fallback */
    gap: 4vh;
    padding: 0 5% 0 5%;
}

.card__heading {
    margin: 0;
    opacity: 0%;
    transition: opacity var(--section-transition-time) ease-in-out;
}

.focus .card__heading {
    opacity: 100%;
}

@media only screen and (min-width: 960px) {

    .card {
        width: 65%;
    }

    .card__content {
        padding-left: 22%;
    }

}

.uses-perspective {
    perspective: 860px;
    perspective-origin: center;
}

.rotates {
    transition: transform var(--rotate-transition-time) ease-out;
}

.rotate-cw {
    transform: rotate3d(0, 1, 0, 30deg);
}

.rotate-ccw {
    transform: rotate3d(0, 1, 0, -30deg);
}

/* -----------------------------------------------------------
 * Background gradients
 */

.bg {
    background: #3400C7; /* default fallback */
}

.gradient-bg {
    position: fixed;
    width: 100%;
    height: 100%;
}

.gradient-bg .gradient--top,
.gradient-bg .gradient--bottom {
    transition: stop-color var(--section-transition-time) linear;
}

/* Bluish */
.gradient-bg .gradient--top,
.gradient-bg--bluish .gradient--top {
	stop-color: #3400C7;
}

.gradient-bg .gradient--bottom,
.gradient-bg--bluish .gradient--bottom {
	stop-color: #6800A3;
}

.bg.gradient-bg--bluish {
	background: #6800A3;
}

/* Greenish */
.gradient-bg--greenish .gradient--top {
	stop-color: #273f00;
}

.gradient-bg--greenish .gradient--bottom {
	stop-color: #176D00;
}

.bg.gradient-bg--greenish {
	background: #176D00;
}

/* Redish */
.gradient-bg--redish .gradient--top {
	stop-color: #570f0e;
}

.gradient-bg--redish .gradient--bottom {
	stop-color: #b36500b0;
}

.bg.gradient-bg--redish {
	background: #b36500b0;
}

/* Aquaish */
.gradient-bg--aquaish .gradient--top {
	stop-color: #008bc2;
}

.gradient-bg--aquaish .gradient--bottom {
	stop-color: #007544;
}

.bg.gradient-bg--aquaish {
	background: #007544;
}

/* Purplish */
.gradient-bg--purplish .gradient--top {
	stop-color: #67028f;
}

.gradient-bg--purplish .gradient--bottom {
	stop-color: #8a6624;
}

.bg.gradient-bg--purplish {
	background: #8a6624;
}

/* Yellowish */
.gradient-bg--yellowish .gradient--top {
	stop-color: #814e0b;
}

.gradient-bg--yellowish .gradient--bottom {
	stop-color: #9c8d00;
}

.bg.gradient-bg--yellowish {
	background: #9c8d00;
}

/* -----------------------------------------------------------
 * Page title heading
 */

.page-title {
    position: absolute;
    top: 17px;
    left: 10px;
    right: 10px;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 960px) {

    .page-title {
        left: 76px;
        width: 70%;
    }

}

/* -----------------------------------------------------------
 * Footer bar
 */

.site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-bar {
    width: 100%;
    text-align: center;
}