@import url(normalize.css);

/* -----------------------------------------------------------
 * Buttons
 */

button {
    cursor: pointer;
}

/* -----------------------------------------------------------
 * Typology
 */

p,
h1,
h2,
h3,
a,
button,
div {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.2;
    color: #fff;
}

.section p {
    font-size: 25px;
    line-height: 1.4;
}

h1,
h2,
h3 {
    font-weight: 400;
    line-height: 1.2;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

@media only screen and (min-width: 960px) {

    .section p {
        font-size: 32px;
    }

    h1 {
        font-size: 67px;
    }

    h2 {
        font-size: 67px;
    }

    h3 {
        font-size: 40px;
    }

}

/* -----------------------------------------------------------
 * Layout
 */

.landing-page {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "main";
}

/* Note:
   .site-header occupies same grid area as .site-main.
   This is intentional. */
.site-header {
    grid-area: main;
}

.site-main {
    grid-area: main;
    z-index: 1;
}

@media only screen and (min-width: 960px) {

    .landing-page {
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-template-areas:
        "side main";
    }

    .site-header {
        grid-area: side;
    }

}

/* Card sections */
.section {
    height: 600px; /* Fallback */
    height: 100vh;
}

/* -----------------------------------------------------------
 * Main Navigation
 */

 /* TODO: Use a JS based solution instead for better performance on mobile */
 .site-header {
    position: fixed;
}

.nav-toggle {
    background: #fff;
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin: 27px 0 0 19px;
}

.nav-toggle__icon {
    color: #000;
    vertical-align: middle;
    font-size: 28px;
}

.nav-menu {
    list-style: none;
    border-left: dotted 3px #fff;
    margin: 9px 0 0 37px;
    padding: 0 0 0 6px;
}

.nav-link {
    border: none;
    background: none;
    padding: 15px 5px;
}

/* -----------------------------------------------------------
 * Sections & Cards
 */

.section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 40px; /* Fallback */
    gap: 4vh;
    padding: 0 5% 0 5%;
}

.card__heading {
    margin: 0;
}

@media only screen and (min-width: 960px) {

    .card {
        width: 65%;
    }

    .card__content {
        padding-left: 22%;
    }

}

/* -----------------------------------------------------------
 * Background gradient
 */

.landing-page {
    background-color: #222; /* Default fallback */
}

 /* TODO: Move using JS */
.gradient-bg {
    position: absolute;
    width: 100%;
    height: 1000px; /* Fallback */
    height: 100vh;
}

.gradient-bg--bluish {
    background-color: #3400C7; /* Fallback */
    background: linear-gradient(#3400C7, #6800A3);
}

.gradient-bg--greenish {
    background-color: #004C34; /* Fallback */
    background: linear-gradient(#004C34, #176D00);
}

.gradient-bg--redish {
    background-color: #680200; /* Fallback */
    background: linear-gradient(#680200, #BB6A00);
}

/* -----------------------------------------------------------
 * Footer bar
 */

.site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-bar {
    width: 100%;
    text-align: center;
}