@import url(normalize.css);

/* -----------------------------------------------------------
 * Typology
 */

p,
h1,
h2,
h3,
a,
button,
div {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.2;
}

.section p {
    font-size: 25px;
    line-height: 1.4;
}

h1,
h2,
h3 {
    font-weight: 400;
    line-height: 1.2;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

@media only screen and (min-width: 960px) {

    .section p {
        font-size: 32px;
    }

    h1 {
        font-size: 67px;
    }

    h2 {
        font-size: 67px;
    }

    h3 {
        font-size: 40px;
    }

}

/* -----------------------------------------------------------
 * Layout
 */

.landing-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "main"
    "foot";
}

/* Note:
   .site-header occupies same grid area as .site-main.
   This is intentional. */
.site-header {
    grid-area: main;
}

.site-main {
    grid-area: main;
}

.site-footer {
    grid-area: foot;
}

@media only screen and (min-width: 960px) {

    .landing-page {
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-template-areas:
        "side main"
        "foot foot";
    }

    .site-header {
        grid-area: side;
    }

}

/* Card sections */
.section {
    height: 600px; /* Fallback */
    height: 100vh;
}

/* Footer */
.footer-bar {
    width: 100%;
    text-align: center;
}

/* -----------------------------------------------------------
 * Sections & Cards
 */

.section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 40px; /* Fallback */
    gap: 4vh;
    padding: 0 5% 0 5%;
}

.card__heading {
    margin: 0;
}

@media only screen and (min-width: 960px) {

    .card {
        width: 65%;
    }

    .card__content {
        padding-left: 22%;
    }

}

/* -----------------------------------------------------------
 * Main Navigation
 */

 /* TODO: Use a JS based solution instead for better performance on mobile */
.site-header {
    position: fixed;
}

.nav-toggle {
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin: 27px 0 0 19px;
}

.nav-toggle__icon {
    vertical-align: middle;
    font-size: 28px;
}

.nav-menu {
    list-style: none;
    border-left: dotted 3px;
    margin: 9px 0 0 37px;
    padding: 0 0 0 6px;
}

.nav-link {
    border: none;
    background: none;
    padding: 15px 5px;
}